/* Normalize styles */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

body {
    line-height: 1;
    font-family: 'Lucida Bright', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: #fff;
}

ol,
ul {
    list-style: none;
}

address,
variable,
time {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.app {
    padding: 10px;
    font-family: 'Lucida Bright', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.counter-label,
.course-title,
.course-description,
.remaining-time {
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    gap: 5px;
}

.button {
    padding: 5px 10px;
}

.divider {
    margin: 10px 0;
}

.course-title {
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
}

.course-description {
    font-size: 14px;
    color: #555;
}

.remaining-time {
    font-size: 14px;
    color: #333;
}

.twitter-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}